{% extends "layout.html" %}
{% block head %}
<div class="title">
       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Welcome to admin dashboard <br>{{params.admin_name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about" style="background-color: rgba(192,192,192,0.21)">
   <div class="container">
      <div class="row">
         <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12">
            <div class="about_box">
               <figure><img src="{{url_for('static',filename='images/adminphoto.jpg')}}"/></figure>
            </div>
         </div>
          <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12">
            <div class="about_box">
               <h3>From here you can manage and handle your site data </h3>
                <form method="post" novalidate>
                <p class="searchText"><strong>Which data you want to access</strong></p>
                <div class="row">
			        <div class="col-sm-6">
				        <select class="browser-default custom-select mb-4" id="select1" name="details_of">
                            <option value="" disabled="" selected="">Data of:</option>
                            <option value="hotelsdetails">Hotels</option>
                             <option value="signindetails">Users</option>
                            <option value="cabs">Cabs</option>
                            <option value="homestayvillas">Homestays and villas</option>
                            <option value="tourpackages">Tour and travels</option>
                         </select>
                    </div>
                </div>
                    <button type="submit" id="sendbutton" class="btn btn-primary btn-lg">Search</button> <a  href="/logout"><button type="button" id="btn btn-primary btn-lg" name="Log_ot_button" class="btn btn-outline-danger btn-lg" value="Log_ot">Log Out</button></a><br><br>
                </form>
                {% if details_given=='True' %}
                {% if details_type=='hotels' %}
               <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                          <th>Hotel</th>
                          <th>Type of rooms</th>
                          <th>Cost per night/-</th>
                          <th>Location</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                   {% for details in details_wanted %}
                      <tbody>
                        <tr>
                          <td>
                    <div class="d-flex align-items-center">
                        {% set fname='uplodedfiles/'+ details.image_src %}
                      <img src="{{url_for('static',filename=fname)}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{details.hotelname}}</p>
                        <p class="text-muted mb-0">{{details.area}}</p>
                      </div>
                    </div>
                          </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.type}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.price}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.area}}</p>
                            </td>
                            <td>
                                <a href="/uploadhotels/{{details.srno}}"><div class="text-primary"><i class="fa fa-edit fa-3x"></i></div></a>
                            </td>
                            <td>
                                <a href="/delete_hotel/{{details.srno}}"><button type="button"  class="btn btn-outline-danger  btn-lg">Delete</button></a>
                            </td>
                        </tr>
                      {% endfor %}
                        <a href="/uploadhotels/0"><button type="button" class="btn btn-secondary  btn-lg">Upload new</button></a>
                        {% endif %}
                        {% if details_type=='users' %}
                     <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                          <th>User Name</th>
                          <th>User Login/Email Id:</th>
                          <th>User SignIn Date</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                   {% for details in details_wanted %}
                      <tbody>
                        <tr>
                          <td>
                    <div class="d-flex align-items-center">
                      <img src="{{url_for('static',filename='images/user_dash.jpg')}}" alt=""
                          style="width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{details.name}}</p>
                      </div>
                    </div>
                          </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.email}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.date}}</p>
                            </td>
                            <td>
                                <a href="/delete_user/{{details.srno}}"> <button type="button" class="btn btn-outline-danger  btn-lg">Delete</button></a>
                            </td>
                        </tr>
                          {% endfor %}
                        {% endif %}
                       {% if details_type=='cabs' %}
                     <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                          <th>Cab Service</th>
                          <th>Cab Type</th>
                          <th>Seating Capacity</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                   {% for details in details_wanted %}
                      <tbody>
                        <tr>
                          <td>
                    <div class="d-flex align-items-center">
                      {% set fname='uplodedfiles/'+ details.image_src %}
                      <img src="{{url_for('static',filename=fname)}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{details.cab_name}}</p>
                      </div>
                    </div>
                          </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.cab_type}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.seats_available}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.price}}/-Km</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.cab_description[0:20]}}....</p>
                            </td>
                            <td>
                                <a href="/uploadcabs/{{details.srno}}"><div class="text-primary"><i class="fa fa-edit fa-3x"></i></div></a>
                            </td>
                            <td>
                                <a href="/delete_cab/{{details.srno}}"> <button type="button" class="btn btn-outline-danger  btn-lg">Delete</button></a>
                            </td>
                        </tr>
                          {% endfor %}
                        <a href="/uploadcabs/0"><button type="button" class="btn btn-secondary  btn-lg">Upload new</button></a>
                        {% endif %}
                        {% if details_type=='homestays' %}
                     <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                          <th>Homastay Name</th>
                          <th>Location</th>
                          <th>Per day charges</th>
                            <th>Rooms</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                   {% for details in details_wanted %}
                      <tbody>
                        <tr>
                          <td>
                    <div class="d-flex align-items-center">
                      {% set fname='uplodedfiles/'+ details.image_src %}
                      <img src="{{url_for('static',filename=fname)}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{details.homestayname}}</p>
                      </div>
                    </div>
                          </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.area}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.price}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.roomsoffered}}</p>
                            </td>
                            <td>
                                <a href="/uploadhomestay/{{details.srno}}"><div class="text-primary"><i class="fa fa-edit fa-3x"></i></div></a>
                            </td>

                            <td>
                                <a href="/delete_homestay/{{details.srno}}"><button type="button" class="btn btn-outline-danger  btn-lg">Delete</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        <a href="/uploadhomestay/0"><button type="button" class="btn btn-secondary  btn-lg">Upload new</button></a>
                        {% endif %}
                        {% if details_type=='tourpackages' %}
                     <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                          <th>TourPackage </th>
                          <th>Location</th>
                          <th>Per person charges</th>
                            <th>Days</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                   {% for details in details_wanted %}
                      <tbody>
                        <tr>
                          <td>
                    <div class="d-flex align-items-center">
                      {% set fname='uplodedfiles/'+ details.image_src %}
                      <img src="{{url_for('static',filename=fname)}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{details.tourname}}</p>
                      </div>
                    </div>
                          </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.area}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.price}}/-person</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.days}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1">{{details.description[0:20]}}..</p>
                            </td>
                            <td>
                                <a href="/uploadtourpack/{{details.srno}}"><div class="text-primary"><i class="fa fa-edit fa-3x"></i></div></a>
                            </td>

                            <td>
                                <a href="/delete_tour/{{details.srno}}"><button type="button" class="btn btn-outline-danger  btn-lg">Delete</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        <a href="/uploadtourpack/0"><button type="button" class="btn btn-secondary  btn-lg">Upload new</button></a>
                        {% endif %}
                        {% endif %}
                      </tbody></table>
                      </tbody></table>
                      </tbody></table>
                      </tbody></table>
                      </tbody></table><br>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}