
{% extends "layout.html" %}
{% block head %}
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head>
<a href="/cabs"> <button class="btn-lg btn-outline-primary  pl-5" ><i class="fa fa-arrow-circle-o-left">Go Back</i></button></a>
<div class="container" style="background-color: rgba(192,192,192,0.89)">
	<div class="row">
		<div class="col-6">
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% set fname='uplodedfiles/'+ cab.image_src %}
						<img src="{{url_for('static',filename=fname)}}" alt="img" /><br>
					<span class="text-primary font-weight-bold text-lg-center" style="font-size: 20px">HOTEL :{{cab.cab_name}}</span><br>
					<span class="text-darks font-weight-bold text-danger"> {{cab.seats_available}}</span><br>
					<span class="text-darks font-weight-bold text-danger"> {{cab.price}}/-per Km</span><br>
					<span class="font-weight-bold text-danger">{{cab.cab_type}}</span><br>
					<p class="font-weight-normal">{{cab.cab_description}}</p>
					<br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6"><br><br>
			<form method="post" novalidate>
				<div class="card shadow mb-1 bg-white rounded">
					<div class="card-body">
						<p class="card-title text-center shadow mb-5 rounded">CAB BOOKING FORM</p><hr>
						<p class="searchText"><strong>Book your cab </strong></p>
						<div class="row">
							<div class="col-12">
								<select class="browser-default custom-select mb-4">
												<option value="" disabled="" selected="">Number of days :</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<p>From:</p>
											<input placeholder="your get in place" name="from" type="text" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
										</div>
											<div class="col-6">
												<p>To:</p>
											<input placeholder="your go to place" name="to" type="text" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >

									</div>
								</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p>Select date & time</p>
								<div class="container">
									<div class="row">
										<div class="col-6">
											<input placeholder="&#xf073; Departing" name="checkin" type="date" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
										</div>
											<div class="col-6">
											<select class="browser-default custom-select mb-4">
												<option value="" disabled="" selected="">Anytime</option>
												<option value="1">6:00 AM</option>
												<option value="2">3:00 PM</option>
												<option value="3">6:00 PM</option>
											</select>
									</div>
								</div>
								</div>
							</div>


						</div>
						<div class="col-sm-12">
							<button type="submit" id="sendbutton" class="btn btn-primary btn-lg float-right mt-5">BOOK NOW</button>
						</div>
					</div>
				</div>
			</form><br>
		</div>
	</div>
</div><br>

<!--Card-->
<div class="card shadow mb-5 bg-white rounded">

	<!--Card-Body-->
	<div class="card-body">

		<!--Card-Title-->
		<p class="card-title text-center shadow mb-5 rounded">Travel Booking Form</p>

 <div class="icons text-center">

<i class="fa fa-plane fa-2x" aria-hidden="true"></i>
<i class="fa fa-taxi fa-2x" aria-hidden="true"></i>
<i class="fa fa-train fa-2x" aria-hidden="true"></i>


 </div>

    <hr>

		<p class="searchText"><strong>Search For Cheap Flights</strong></p>

		<!--First Row-->
		<div class="row mb-3 mt-3">

			<label class="radiobtn"><input type="radio" name="gender" value="male">One Way</label>
			<label class="radiobtn"><input type="radio" name="gender" value="male">Round Trip</label>

		</div>


		<!--Second Row-->
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select1">
        <option value="" disabled="" selected="">From City/Airport</option>
        <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
    </select>
			</div>

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">To City/Airport</option>
       <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
    </select>
			</div>

		</div>


		<!--Third Row-->
		<div class="row">

			<div class="col-sm-6">
				<input placeholder="&#xf073; Departing" type="text" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
			</div>

				<div class="col-sm-6">
					<input placeholder="&#xf073; Arriving" type="text"  class="form-control datepicker" style="font-family:Arial, FontAwesome" >
			</div>

				</div>


				<!--Fourth Row-->
				<div class="row mt-4">

					<div class="col-sm-6">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Anytime</option>
        <option value="1">6:00 AM</option>
        <option value="2">3:00 PM</option>
        <option value="3">6:00 PM</option>
    </select>
					</div>

					<div class="col-sm-6">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Anytime</option>
          <option value="1">6:00 AM</option>
        <option value="2">3:00 PM</option>
        <option value="3">6:00 PM</option>
    </select>
					</div>

				</div>




				<!--Fifth Row-->
				<div class="row">

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Kids(0-14)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Adults(15-64)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Seniors(65+)</option>
   <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>



				</div>

				<a href="#" class="btn btn-primary float-right mt-5">Find Flights</a>
			</div>
		</div>
{% endblock %}