{% extends "layout2.html" %}
{% block head %}
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head><br>
<a href="/cabs">
    <button class="btn-lg btn-outline-primary  pl-5"><i class="fa fa-arrow-circle-o-left">Go Back</i></button>
</a>
<div class="container" style="background-color: rgba(192,192,192,0.62)">
    <div class="row">
        <div class="col-6">
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% set fname='uplodedfiles/'+ cab.image_src %}
                        <img src="{{url_for('static',filename=fname)}}" alt="img"
                             style="width: 500px; height: 250px"/><br>
                        <span class="text-primary font-weight-bold text-lg-center" style="font-size: 20px">CAB :{{cab.cab_name}}</span><br>
                        <span class="text-darks font-weight-bold text-danger"> {{cab.seats_available}} Seater</span><br>
                        <span class="text-darks font-weight-bold text-danger"> {{cab.price}}/-per Km</span><br>
                        <span class="font-weight-bold text-danger">{{cab.cab_type}}</span><br>
                        <p class="font-weight-normal">{{cab.cab_description}}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"><br><br>
            <form method="post">
                <div class="card shadow mb-1 bg-white rounded">
                    <div class="card-body">
                        <p class="card-title text-center shadow mb-5 rounded">CAB BOOKING FORM</p>
                        <hr>
                        <p class="searchText"><strong>Book your cab </strong></p>
                         {% with messages = get_flashed_messages()%}
                        {% if messages%}
                         {% for message in messages%}
                        <div class="p-3 mb-2 bg-success font-weight-bold text-white"><p>{{message}}</p></div>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                        <div class="row">
                            <div class="col-12">
                                <select class="browser-default custom-select mb-4" name="days" required>
                                    <option value="" disabled="" selected="">Number of days :</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>From:</p>
                                            <input placeholder="from" name="from" type="text"
                                                   class="form-control datepicker mb-4"
                                                   style="font-family:Arial, FontAwesome" required>
                                        </div>
                                        <div class="col-6">
                                            <p>To:</p>
                                            <input placeholder="to" name="to" type="text"
                                                   class="form-control datepicker mb-4"
                                                   style="font-family:Arial, FontAwesome" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Select date & time</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <input placeholder="&#xf073; Departing" name="checkin" type="date"
                                                   class="form-control datepicker mb-4"
                                                   style="font-family:Arial, FontAwesome">
                                        </div>
                                        <div class="col-6">
                                            <select class="browser-default custom-select mb-4" name="time">
                                                <option value="6:00 AM" disabled="" selected="">PickUp time</option>
                                                <option value="6:00 Am">6:00 AM</option>
                                                <option value="3:00 PM">3:00 PM</option>
                                                <option value="6:00 Pm">6:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" id="sendbutton" class="btn btn-primary btn-lg float-right mt-5">BOOK
                                NOW
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div><br>

{% endblock %}