
{% extends "layout.html" %}
{% block head %}
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head>
<form method="post" novalidate>
<!--Card-->
<br><br>
<div class="card shadow mb-1 bg-white rounded">

	<!--Card-Body-->
	<div class="card-body">

		<!--Card-Title-->
		<p class="card-title text-center shadow mb-5 rounded">Homestay & Villas Booking Form</p>

 <div class="icons text-center">
	 <i class="fa fa-home fa-2x"></i><i class="fa fa-home fa-3x"></i><i class="fa fa-home fa-2x"></i>



 </div>

    <hr>

		<p class="searchText"><strong>Search For Homestays and villas </strong></p>



		<!--Second Row-->
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select1" name="destination">
        <option value="" disabled="" selected="">Destination</option>
        <option value="New Delhi">New Delhi</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Solan">Solan</option>
    </select>
			</div>
			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select2" name="helper_wanted">
        <option value="" disabled="" selected="">Helper Wanted</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>

    </select>
			</div>
		</div>
		<!--Third Row-->
		<div class="row">

			<div class="col-sm-6">
				<p>Check In date</p>
				<input placeholder="&#xf073; Departing" name="checkin" type="date" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
			</div>

				<div class="col-sm-6">
					<p>Check Out Date</p>
					<input placeholder="&#xf073; Arriving" name="checkout" type="date" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" >
			</div>

				</div>
		<div class="row">
			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select4" name="range">
        <option value="" disabled="" selected="">Range</option>
        <option value="1000-2000">10000-20000</option>
        <option value="2000-4000">20000-40000</option>
        <option value="4000-6000">40000-60000</option>
    </select>
			</div>
			<div class="col-sm-6">
				<button type="submit" id="sendbutton" class="btn btn-primary btn-lg float-right mt-5">Find</button>
			</div>
		</div>


			</div>
</div>
</form>

		</div>
	<div class="Lastestnews blog">
        <div class="container">

	<div class="row">
     {% for home in homestays %}


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
                    <div class="news-box">
                        <figure><img src="" alt="img" /></figure>
                        <h3>{{home.homestayname}}</h3>
                        <span> {{home.area}}</span><span>{{home.price}}</span>
                        <p>{{home.description}} </p>
                    </div>
				</div>

	 {% endfor %}
	</div>
				</div></div>



{% endblock %}
