
{% extends "layout.html" %}
{% block head %}
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head>
<form method="post" novalidate>
<!--Card-->
<br><br>
<div class="card shadow mb-5 bg-white rounded">

	<!--Card-Body-->
	<div class="card-body">

		<!--Card-Title-->
		<p class="card-title text-center shadow mb-5 rounded">Hotel Booking Form</p>

 <div class="icons text-center">
	 <i class="fa fa-building fa-2x"></i><i class="fa fa-building-o fa-3x"></i><i class="fa fa-building fa-2x"></i>
	 <i class="fa fa-building-o fa-2x" aria-hidden="true"></i><i class="fa fa-building fa-4x" aria-hidden="true"></i><i class="fa fa-building-o fa-2x" aria-hidden="true"></i>



 </div>

    <hr>

		<p class="searchText"><strong>Search For Hotel rooms</strong></p>



		<!--Second Row-->
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select1" name="destination">
        <option value="" disabled="" selected="">Destination</option>
        <option value="New Delhi">New Delhi</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Solan">Solan</option>
    </select>
			</div>
			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select2" name="no_of_rooms">
        <option value="" disabled="" selected="">How many rooms</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
			</div>



		</div>


		<!--Third Row-->
		<div class="row">

			<div class="col-sm-6">
				<p>Check In date</p>
				<input placeholder="&#xf073; Departing" type="date" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
			</div>

				<div class="col-sm-6">
					<p>Check Out Date</p>
					<input placeholder="&#xf073; Arriving" type="date" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" >
			</div>

				</div>
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select3" name="room_type">
        <option value="" disabled="" selected="">Room type</option>
        <option value="premium">Premium</option>
        <option value="big">Big</option>
        <option value="ordinary">Ordinary</option>
    </select>
			</div>
			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select4" name="range">
        <option value="" disabled="" selected="">Range</option>
        <option value="1000-2000">1000-2000</option>
        <option value="2000-4000">2000-4000</option>
        <option value="4000-6000">4000-6000</option>
    </select>
			</div>
		</div>
				<button type="submit" id="sendbutton" class="btn btn-primary float-right mt-5">Find hotel</button>

			</div>
</div>
</form>

		</div>

	<div class="Lastestnews blog">
        <div class="container">

	<div class="row">
     {% for hotel in hotels %}
		{% set fname='uplodedfiles/'+ hotel.image_src %}

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">
                    <div class="news-box">
                        <figure><img src="{{url_for('static',filename=fname)}}" alt="img" /></figure>
                        <h3>{{hotel.hotelname}}</h3>
                        <span> {{hotel.area}}</span><span>{{hotel.type}}</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							<button type="button" class="btn-lg btn-outline-primary float-right">Book Now</button></p><br>
					</div>
				</div>

	 {% endfor %}
	</div>

{% endblock %}
		</div></div>