{% extends "layout.html" %}
{% block head %}

       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>our Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <a href="homestays.html"><i><img src="icon/p1.png"/></i>
                     <h3>HomeStay</h3>
                         <h4><i class="fa fa-home fa-3x"></i><i class="fa fa-home fa-2x"></i></h4></a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="icon/p2.png"/></i>
                     <h3>Hotels</h3>
                     <i class="fa fa-building fa-2x"></i><i class="fa fa-building-o fa-4x"></i><i class="fa fa-building fa-2x"></i>
                  </div>
               </div>

               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="icon/p4.png"/></i>
                     <h3>Cab</h3>
                     <i class="fa fa-car fa-4x"></i>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><img src="icon/p5.png"/></i>
                     <h3>Tour packages</h3>
                     <i class="fa fa-road fa-4x"></i>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
<hr>
<div class="product">
    <div class="Lastestnews blog">
         <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <p class=" h2 font-weight-bold" id="title_hotel">Hotels:</p>
                </div>
                </div>
            <div class="row">
                      {% for hotel in hotels %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin">

                    <div class="news-box">
                        <figure><img src="" alt="img" /></figure>
                        <h3>{{hotel.hotelname}}</h3>
                        <span> {{hotel.area}}</span><span>{{hotel.type}}</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                    </div>
				</div>


	 {% endfor %}
            </div>
             <a href="homestays.html"> <button type="button" class="btn btn-primary btn-lg float-right">View All &rarr;</button></a><br><br>
         </div></div>
</div>


{% endblock %}