{% extends "layout.html" %}
{% block head %}
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head>
<a href="/tour"> <button class="btn-lg btn-outline-primary  pl-5" ><i class="fa fa-arrow-circle-o-left">Go Back</i></button></a>
<div class="container" style="background-color: rgba(192,192,192,0.89)">
	<div class="row">
		<div class="col-6">
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% set fname='uplodedfiles/'+ tour.image_src %}
						<img src="{{url_for('static',filename=fname)}}" alt="img" style="width: 500px; height: 250px"/><br>
					<span class="text-primary font-weight-bold text-lg-center" style="font-size: 20px">Tour :{{tour.tourname}}</span><br>
					<span class="text-darks font-weight-bold text-danger"> {{tour.days}} days</span><br>
					<span class="text-darks font-weight-bold text-danger"> {{tour.price}}/-per person</span><br>
					<span class="font-weight-bold text-danger">{{tour.area}}</span><br>
					<p class="font-weight-normal">{{tour.description}}</p>
					<br>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6"><br><br>
			<form  method="post" novalidate>
				<div class="card shadow mb-1 bg-white rounded">
					<div class="card-body">
						<p class="card-title text-center shadow mb-5 rounded">TOUR BOOKING FORM</p><hr>
						<p class="searchText"><strong>Book your tour </strong></p>
						<div class="row">
							<div class="col-12">
								<select class="browser-default custom-select mb-4" required >
												<option value="" disabled="" selected="">Number of Persons :</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p>Select date & time</p>
								<div class="container">
									<div class="row">
										<div class="col-6">
											<input placeholder="&#xf073; Departing" name="checkin" type="date" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome"  required>
										</div>
											<div class="col-6">
											<select class="browser-default custom-select mb-4" required>
												<option value="" disabled="" selected="">PickUp time</option>
												<option value="1">6:00 AM</option>
												<option value="2">3:00 PM</option>
												<option value="3">6:00 PM</option>
											</select>
									</div>
								</div>
								</div>
							</div>


						</div>
						<div class="col-sm-12">
							<button type="submit" id="sendbutton" class="btn btn-primary btn-lg float-right mt-5">BOOK NOW</button>
						</div>
					</div>
				</div>
			</form><br>
		</div>
	</div>
</div><br>

{% endblock %}