{% extends "layout.html" %}
{% block head %}
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/tour.css')}}">
</head>
<div class="container">
	<div class="row">
      <div class="col-12">
			<form method="post" novalidate>
              <div class="card shadow mb-1 bg-white rounded">
					<div class="card-body">
						<p class="card-title text-center shadow mb-5 rounded">HOTEL Upload/Edit Form</p><hr>
                        <div class="form-outline mb-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label" for="form2Example1">Hotel Name</label>
                                         <input type="text" id="form2Example1" placeholder="Enter hotel name here" name="hotel_name" value="{{hotel.hotelname}}" class="form-control" />

                                        <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example2">Location</label>
                                        <input type="text" id="form2Example2" name="location" value="{{hotel.area}}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {% set fname='uplodedfiles/mainhotel.jpg' %}
                                        <img src="{{url_for('static',filename=fname)}}" alt="Upload New" style="width: 100%; height: 80%" class="rounded-circle"/>
                                    </div>
                                </div>
                            </div>

                      <div class="container">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-outline mb-4">
                         <label class="form-label" for="form2Example3">Per day stay charges</label>
                        <input type="tel" id="form2Example3" name="price" value="{{hotel.price}}" class="form-control" />
                      </div>
                          </div>
                          <div class="col-6">
                            <div class="form-outline mb-4">
                         <label class="form-label" for="form2Example3">Image name</label>
                        <input type="text" id="form2Example4" name="file_path" value="{{hotel.image_src}}" class="form-control" />
                      </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-outline mb-4">
                            <select class="browser-default custom-select" name="h_type" id="select1" for="form2Example4">
                                <option value="{{hotel.type}}"  selected="">Room Type</option>
                                <option value="Premium">Premium</option>
                                <option value="Big">Big</option>
                                <option value="Ordinary">Ordinary</option>
                         </select>
                      </div><br><hr>
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-7 col-sm-12">
                            <div class="form-outline mb-4">
                        <textarea rows="5" cols="100" name="description">{{hotel.description}}</textarea>
                      </div>
                          </div>
                          <div class="col-lg-5 col-sm-12">
                            <button type="submit" id="sendbutton" class="btn btn-primary btn-lg float-right mt-5">UPLOAD</button>
                          </div>
                        </div>
                      </div>
					</div>
				</div>
              </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}